/**
 * Zuordnung zu Person: Paul Conrad
 * 
 * Zweck: Design zur Create-Group Seite
 */
body {
    background-color: lightsalmon;
    padding: 0;
    margin: 0;
}

#new_group_container {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}


#new_group_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 3px solid lightcoral;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    max-width: 100%;
    padding-bottom: 10px;
}

#group_name {
	font-size: 14pt;
    font-family: monospace;
}

#group_members {
	font-size: 14pt;
    font-family: monospace;
}


#new_group {
	margin: 10px;
    width: 90%;
    height: 30px;
    background-color: lightgoldenrodyellow;
    border: 1px solid gray;
    cursor: pointer;
}

#group_name_id {
	width: 100%;
    height: 30px;
    border: 1px solid gray;
}

#group_members_id {
	width: 100%;
    height: 30px;
    border: 1px solid gray;
}

#goback_link {
	text-decoration: none;
	color: black;
}

#goback_button {
	margin: 10px;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    height: 30px;
    background-color: lightgoldenrodyellow;
    border: 1px solid gray;
    cursor: pointer;
}

#group_name_box {
	width: 90%;
}

#group_members_box {
	width: 90%;
}