#username_box {
    width: fit-content;
    height: fit-content;
    padding: 10px 10px 10px 10px;
}


#password_box {
    width: fit-content;
    height: fit-content;
    padding: 10px 10px 10px 10px;
}

#registrieren_text {
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: 300;
    color: dimgray;
}

#registrieren_text a {
    text-decoration: none;
}

#login_form {
    width: fit-content;
    margin-top: 30vh;
    margin-left: 40%;
    background-color: lightgoldenrodyellow;
    padding: 50px;
    border: 5px solid lightcoral;
    border-radius: 50px;
}

input {
    height: 40px;
    width: 400px;
    border: 1px solid dimgray;
    border-radius: 10px;
    font-family: "Times New Roman";
    font-size: 20px;
    color: dimgray;
}

#username_text, #password_text {
    font-size: 25px;
    font-weight: bold;
    color: dimgray;
    font-family: "Times New Roman";
}

p {
    margin: 5px;
}

body {
    background-image: url("https://wallpaperaccess.com/full/2005054.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#load_button {
    margin: 50px 10px 10px 10px;
}